body {
    background: #0f0f0f;
    color: white;
    font-family: Arial;
    text-align: center;
}

.btn {
    display: inline-block;
    background: #0ff;
    color: #121212;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}